---
build_release_url: "http://artifact.zycus.net/repository/zycus.products/"
build_docket_url: "http://artifact.zycus.net/repository/zycus.docket/"
build_snapshot_url: "http://192.168.1.215:8081/nexus/content/repositories/ZycusProductSnapShots/"
model_dir_path: "/U01/Merlin-AI-Invoice-PageHints/models"
user: "webtech"
group: "analytics"
model_name: "{{ model_name }}"
model_version: "{{ model_version }}"